@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e0e0e0;
}
